<style>

    .dropbtn {
      
      
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }

</style>

<div class="container-fluid ">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Todo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        
        <li class="nav-item">
          <a class="nav-link btn " data-toggle="modal" data-target="#exampleModal">Add Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn " href="{% url 'core:category'%}">Add Category</a>
        </li>
      </ul>
      
        <ul class="d-block mr-5" style="list-style: none;">
        <li class="nav-item dropdown">
          
          <div class="dropdown">
            <button class="dropbtn">{% if request.user.is_authenticated %} {{user.username}} {% endif %}</button>
            <div class="dropdown-content">
            <a href="{% url 'password_change'%}">password change</a>
            <a href="#">Link 2</a>
            <a href="{%  url 'user:logout1' %}">logout</a>
            </div>
          </div>
        </li>

      </ul>
      
    </div>
  </nav>
</div>

{% include 'core/add-task.html'%}
